<div class="container">

  <div class="panel panel-primary">
    
      <div class="panel-heading"><h2>Salida de parqueadero</h2></div>
      
      <div class="panel-body">

        <form id="salida" #salidaForm="ngForm">

          <div class="form-group">
            <div class="row">
              <label for="placa">Placa:</label>
            </div>
            <div class="row">
              <input type="text"
                id="placa"
                name="placa"
                value="{{parqueado.placa}}"
                disabled />
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <label for="tipo">Tipo de Veh&iacute;culo: </label>
            </div>
            <div class="row">
              <input type="text"
                id="tipo"
                name="tipo"
                value="{{parqueado.tipo}}"
                disabled />
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <label for="fechaIngreso">Fecha de Ingreso: </label>
            </div>
            <div class="row">
              <input type="text"
                id="fechaIngreso"
                name="fechaIngreso"
                value="{{parqueado.fechaIngreso | date:'dd/MM/yyyy hh:mm:ss.sss'}}"
                disabled />
            </div>
          </div>

          <!--
          <button type="submit"
            class="btn btn-success"
            (click)="registrarSalida()">Registrar Salida</button>
          -->

          <!--
          <button type="button"
            class="btn btn-info btn-lg"
            data-toggle="modal"
            data-target="#modalSalida"
            (click)="registrarSalida()">Registrar Salida</button>
          -->

          <button type="button"
            class="btn btn-success"
            (click)="registrarSalida(); mostrarModal(content)">Registrar Salida</button>

          <!--
            <div class="form-group">
            <div class="row">
              <label for="valor">Valor a pagar: </label>
            </div>
            <div class="row">
              <input type="text"
                id="valor"
                name="valor"
                value="{{salida.valor}}"
                disabled />
            </div>
          </div>
          -->

        </form>

      </div>

    </div>

</div>


<!--Modal-->
<ng-template #content let-c="close" let-d="dismiss">

  <div class="modal-header">
    <h4 class="modal-title">Salida exitosa</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">

    <div *ngIf="!msgError" class="alert alert-success">
      <p>Se registr&oacute; exitosamente la salida del veh&iacute;culo con placa {{parqueado.placa}}</p>
      <p>Fecha de ingreso: {{salida.fechaInicio | date:"dd/MM/yyyy hh:mm:ss.sss"}}</p>
      <p>Fecha de salida: {{salida.fechaFin | date:"dd/MM/yyyy hh:mm:ss.sss"}}</p>
      <p><b>Valor a pagar: {{salida.valor}}</b></p>
    </div>

    <div *ngIf="msgError" class="alert alert-danger">
      <p>{{msgError}}</p>
    </div>

  </div>

  <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="c('Close click')">Aceptar</button>
  </div>

</ng-template>